*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
#mainIzquierda, #mainDerecha{
    width: 12%;
    background-color: #DC7A00;
}
#bannerIzquierda, #bannerDerecha{
    width: 100%;
    height: 100%;
    object-fit: fill; /* Deforma la imagen para ocupar todo el espacio */
}
#mainCentro{
    display: flex;
    flex-direction: column;
    width: 76%;
}
.banner-container {
    width: 100%;
    max-width: 900px; /* ajusta a tu gusto */
    height: 300px;    /* ajusta a tu gusto */
    overflow: hidden;
    position: relative;
    margin-left: 8%;
    margin-bottom: 25px;
}

.banner-slide {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner-slide.active {
  opacity: 1;
  z-index: 1;
}
/* Media query para dispositivos móviles (ancho menor o igual a 768px) */
@media (max-width: 768px) {
    #mainIzquierda, #mainDerecha {
        display: none; /* Oculta los elementos en móviles */
    }

    #mainCentro {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 0; /* Elimina márgenes para aprovechar el espacio */
    }

    .banner-container {
        max-width: 100%; /* Asegura que el banner ocupe el ancho completo */
        margin-left: 0; /* Elimina el margen izquierdo */
        height: 200px; /* Opcional: reduce la altura para móviles */
    }
}
